module.exports = {
  name: 'songs',

  settings: {

  },

  actions: {
    async searchByTitle(ctx) {
      const { value } = ctx.params;

      const songs = await ctx.call(
        'musicExplorer.search',
        {
          field: 'title',
          value
        }
      );

      return songs;
    }
  },

  events: {
    '$node.connected'({ node }) {
      this.logger.info(
        `Node '${node.id}' is connected!`
      );
    }
  },

  methods: {
    doSomething() {}
  },

  created() {

  },

  started() {

  },

  stopped() {

  }
};
