const { ServiceBroker } = require('moleculer');

const broker = new ServiceBroker({
  nodeID: 'node-1',
  logger: console
});

broker.createService(
    require('./services/songs')
);

broker.loadService(
    './services/soundcloud'
);

broker.start();
